# Copy this file to xemu-tools-rs.env or .env and adjust as needed.

WEBSOCKET_HOST=localhost
WEBSOCKET_PORT=9000

QMP_HOST=localhost
QMP_PORT=4445

REPLAY_DIRECTORY=replays

ENABLE_WEBSOCKET_RELAY=true
WS_RELAY_BASE_URL=wss://halospawns-live-relay-dev.mintograde.workers.dev
WS_RELAY_ROOM=test-room

COMPUTE_SPAWN_PARAMETERS_HASH=true
